@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  margin-bottom: 10px;
  font-family: 'Berkshire Swash', cursive;
  color: rgb(32, 99, 32);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
